.hero-glow {
  position: absolute;
  width: 420px;
  height: 420px;
  border-radius: 9999px;
  filter: blur(120px);
  opacity: 0.35;
  pointer-events: none;
}

.bg-javascript {
  background: #facc15; /* yellow */
}

.bg-react {
  background: #22d3ee;
  /* cyan */
}

.bg-project {
  background: #a855f7;
  /* purple */
}

/* dfdfadfadsfadfad fadfadfa  */

.joshi {
  border: #2b303b;
  background: linear-gradient(135deg, transparent 0%, transparent 100%)
}